body{
    font-family: "YU Gothic","Helvetica","sans-serif";
    background-color: #f9f9f9;
    color:#333;
    margin: 0;
    line-height: 1.8;
}

main,section,header,footer,aside,nav {
    padding: 20px;
}

header{
    background-color: #4CAF50;
    padding: 40px 20px;
    color: white;
    text-align:center;
}

nav ul{
    list-style:none;
    padding: 0%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
        color: #333;
        font-weight: bold;
}
h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    text-align: center;
    margin: 30px auto;
    color: #4CAF50;
    width: 120px;
}

p{
    text-align:center;
}
section img{
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    width: 250px;
    height: 180px;
    object-fit: cover;

}

.menu-list{
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}

.menu-item{
    width: 250px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition:0.3s;
}

.menu-item:hover{
    transform: translateY(-5px);
}

form{
    width: 300px;
    margin: 0 auto;
}

input,
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button{
    width: 100%;
    background-color:#4CAF50 ;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #45a039;
}

footer{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}